<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gustavo Evaristo</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="/icons/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/menuHoverEffect.js" defer></script>
    <script src="/js/homeIconsHoverEffect.js" defer></script>
    <script src="/js/homeButtonsEffect.js" defer></script>
    <script src="/js/changeTheme.js" defer></script>
</head>
<body>
    <div class="container">
        <header>
            <h2>Gustavo <span>Evaristo</span></h2>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Sobre</a></li>
                <li><a href="">Habilidades</a></li>
                <li><a href="">Serviços</a></li>
                <li><a href="">Contato</a></li>
                <li><i class="fas fa-sun" id="changeTheme" title="dark/light theme"></i></li>
            </ul>
        </header>

        <main class="homeContainer">

            <div class="socialContainer">
                <a href="https://api.whatsapp.com/send?phone=5511970256279" target="_blank"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.instagram.com/gu.hevaristo/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/gustavo-evaristo/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.github.com/gustavo-evaristo/" target="_blank"><i class="fab fa-github"></i></a>
            </div> 

            <div class="textContainer">
                <h1>Transformando <span>Idéias</span><br>em Realidade</h1>
            </div>

            <div class="socialContainer"></div>

        </main>

        <section class="optionsContainer">

            <div>
                <button class="homeButton">Entrar em Contato</button>
            </div>

            <div class="img">
                <img src="/images/Web_Developer.svg">
            </div>

            <div>
                <a href="/uploads/curriculo.pdf" target="_blank"><button class="homeButton cv">Download CV</button></a>
            </div>

        </section>

    </div>
</body>
</html>